/*navbar*/
.navbar{
	background-color: #133044;
	color: #fff;
}
.navbar-inner .left{
	padding-left: 10px;
}
.icon{
	margin-left: 10px;
}
.searchbar{
	display: none;
	padding: 0;
	background-color: #133044;
}
.searchbar .searchbar-input{
	width: 90%;
	margin-top: 8px;
}
.searchbar input[type=search]{
	background-image: none;
	background-color: #6c94af;
	color: #ddd;
	padding: 0 8px;
}
.cancel-icon{
	position: absolute;
	top: 10px;
	right: 0;
}
.searchbar input[type=search]::-webkit-input-placeholder { /* WebKit browsers */ 
color: #ddd; 
} 
.searchbar input[type=search]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #ddd; 
} 
.searchbar input[type=search]::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #ddd; 
} 
.searchbar input[type=search]:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #ddd; 
} 

.button-login{
	top: 45%;
}
.button-sign{
	top: 50%;
}
.cancel-button{
	position: absolute;
	top: 4%;
	left: 10px;
	font-size: 20px;
}
.swiper-container {
	height: 100%;
	background-color: #2474ab;
}
.swiper-slide {
	background:#2474ab;
}
.swiper-slide>.card{
	position: relative;
	height: 92%;
	margin: 20px;
	background-color: #eae8e8;
	word-wrap: break-word;
}
.swiper-slide>.card>.card-content{
	overflow: scroll;
}
.swiper-slide>.card .card-content-inner{
	padding: 0;
}
.swiper-slide>.card>.card-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.swiper-slide>.card>.card-footer .link{
	color: #5f5b5b;
}
.card-content-inner .card{
	background-color: #fff;
	margin: 5px;
	padding: 8px;
}
.add-button{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #6d6d72;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background-color: #fff;
}
.add-items{
	display: none;
	width: 100%;
}
.add-item{
	width: 100%;
}
.add-confirm-button{
	float: right;
}

/*popover*/
.popover{
	width: 90%;
	background-color: #f6f7f9;
}
.popover-inner{
	border-radius: 15px;
}
.popover-head{
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.list-block .item-link.list-button{
	text-align: left;
}

/*panel*/
.panel{
	background-color: #fff;
}

/*common*/
.bgc-white{
	background-color: white;
}