/*navbar*/
.navbar{
	background-color: #00395d;
	color: #fff;
}
.cancel-board{
	width: 20px;
	margin-right: 15px;
}
.icon{
	margin-left: 20px;
	width: 20px;
}
.searchbar{
	display: none;
	padding: 0;
	background-color: #133044;
}
.searchbar .searchbar-input{
	width: 90%;
	margin-top: 8px;
}
.searchbar input[type=search]{
	background-image: none;
	background-color: #6c94af;
	color: #ddd;
	padding: 0 8px;
}
.cancel-icon{
	position: absolute;
	top: 10px;
	right: 0;
}
.searchbar input[type=search]::-webkit-input-placeholder { /* WebKit browsers */ 
color: #ddd; 
} 
.searchbar input[type=search]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #ddd; 
} 
.searchbar input[type=search]::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #ddd; 
} 
.searchbar input[type=search]:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #ddd; 
} 

.button-login{
	top: 45%;
}
.button-sign{
	top: 50%;
}
.cancel-button{
	position: absolute;
	top: 4%;
	left: 10px;
	font-size: 20px;
}
.swiper-container {
	height: 100%;
	background-color: #2474ab;
}
.swiper-slide {
	background:#2474ab;
}
.swiper-slide>.card{
	position: relative;
	max-height: 92%;
	margin: 20px;
	background-color: #d5dadd;
	word-wrap: break-word;
	border-radius: 5px;
}
.swiper-slide>.card>.card-content{
	overflow: scroll;
	/*height: 500px;*/
}
.swiper-slide>.card .card-content-inner{
	padding: 0;
}
.swiper-slide>.card>.card-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 5px; 
}
.swiper-slide>.card>.card-footer .link{
	color: #8c8c8c;
}
.card-content-inner .card{
	background-color: #fff;
	margin: 5px;
	padding: 8px;
}
.add-button{
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #8c8c8c;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background-color: #fff;
}
.add-items{
	display: none;
	width: 100%;
}
.add-item{
	width: 98%;
	height: 40px;
}
.add-confirm-button{
	float: right;
	font-weight: bolder;
}

/*popover*/
.popover{
	width: 90%;
	background-color: #f6f7f9;
}
.popover-inner{
	border-radius: 15px;
}
.popover-head{
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.list-block .item-link.list-button{
	text-align: left;
}

/*panel*/
.panel{
	background-color: #fff;
}
.panel-head{
	padding: 5px;
	background-color: #ddd;
}

/*popup*/
.popup-overlay.modal-overlay-visible{
	opacity: 0;
}
.popup-content{
	padding: 10px;
}
.popup-head{
	text-align: center;
}
.buttons-row{
	margin-left: 12%;
}
.blue-cancel-icon{
	width: 18px;
	margin: 6px 0 0 3%;
}

/*list*/
.smart-select-page .navbar{
	background-color: #e8e7e7;
	color: #000;
}

/*common*/
.bgc-white{
	background-color: white;
}
.fr{
	float: right;
}
.fl{
	float: left;
}