.page-index{
	background:#2474ab;
}
/*navbar*/
.navbar{
	background: #00395d;
	color: #fff;
}
.navbar:after{
	background: #00395d;
}
.cancel-board{
	width: 14px;
	margin-right: 15px;
}
.icon{
	margin-left: 20px;
	width: 20px;
}
.searchbar{
	display: none;
	padding: 0;
	background-color: #133044;
}
.searchbar .searchbar-input{
	width: 90%;
	margin-top: 8px;
}
.searchbar input[type=search]{
	background-image: none;
	background-color: #6c94af;
	color: #ddd;
	padding: 0 8px;
}
.cancel-icon{
	position: absolute;
	top: 13px;
	right: 0;
}
.searchbar input[type=search]::-webkit-input-placeholder { /* WebKit browsers */ 
color: #ddd; 
} 
.searchbar input[type=search]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #ddd; 
} 
.searchbar input[type=search]::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #ddd; 
} 
.searchbar input[type=search]:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #ddd; 
} 

.button-login{
	top: 45%;
}
.button-sign{
	top: 50%;
}
.cancel-button{
	position: absolute;
	top: 4%;
	left: 10px;
	font-size: 20px;
}
.swiper-container {
	height: 100%;
}
.swiper-wrapper .swiper-slide {
	width: 85%;
}
.swiper-slide>.card{
	position: relative;
	max-height: 93%;
	margin: 20px 10px;
	background-color: #d5dadd;
	word-wrap: break-word;
	border-radius: 5px;
}
.swiper-slide>.card>.card-header{
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
}
.swiper-slide>.card>.card-content{
	overflow: scroll;
}
.swiper-slide>.card .card-content-inner{
	padding: 0;
}
.swiper-slide>.card>.card-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px 5px; 
}
.swiper-slide>.card>.card-footer .link{
	color: #8c8c8c;
}
.card-content-inner .card{
	background-color: #fff;
	margin: 5px;
	padding: 8px;
}
.add-button{
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #8c8c8c;
}
.swiper-pagination .swiper-pagination-bullet-active{
	background-color: #fff;
}
.add-items,.add-lists{
	display: none;
	width: 100%;
}
.add-item{
	width: 99%;
	height: 40px;
	border: 0;
	border-radius: 3px;
	font-size: 15px;
}
.add-confirm-button{
	float: right;
	font-weight: bolder;
}
.card-information{
	color: #8a8a8a;
	padding-top: 3px;
	overflow: hidden;
}
.list-icon,.talk-icon{
	vertical-align: middle;
}
.list-icon{
	margin-right: 10px;
}
.talk-icon{
	margin-right: 3px;
}
.head-img{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	vertical-align: top;
	margin-left: 3px;
}
.new-list{
	position: relative;
    margin: 20px 0 20px 10px;
    word-wrap: break-word;
    border-radius: 5px;
}
.add-list-button{
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #005485;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
}
.add-lists{
    background-color: #d5dadd;
    padding: 5px;
	border-radius: 5px;
}
.add-list{
	width: 95%;
	height: 35px;
	border: 0;
	border-radius: 3px;
	font-size: 15px;
}
.add-cancel-button,.add-confirm-button{
	display: inline-block;
	height: 33px;
	line-height: 35px;
	font-size: 18px;
	color: #1579b6;
}

/*popover*/
.popover{
	width: 90%;
	background-color: #f6f7f9;
}
.popover-inner{
	border-radius: 15px;
}
.popover-head{
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.list-block .item-link.list-button{
	text-align: left;
}

/*panel*/
.panel{
	width: 300px;
}
.panel-content{
	position: relative;
	height: 100%;
	background-color: #f9f9f9;
	font-size: 16px;
}
.panel-head,.panel-bottom{
	position: fixed;
	width: 280px;
	height: 24px;
	line-height: 24px;
	color: #acacac;
	padding: 10px;
}
.panel-head{
	top: 0;
	border-bottom: 1px solid #acacac;
}
.panel-body{
	background-image:url(about:blank);
    background-attachment:fixed;
	position: absolute;
	top: 45px;
	bottom: 45px;
	overflow-y: scroll;
}
.panel-bottom{
	width: 100%;
	bottom: 0;
	border-top: 1px solid #acacac;
}
.star-icon{
	width: 20px;
}
.lock-icon{
	margin-left: 10px;
	width: 18px;
}
.setting-icon,.share-icon,.file-icon{
	margin-top: 2px;
}
.share-icon,.file-icon{
	width: 17px;
}
.member-icon,.rocket-icon,.activity-list-icon,.sync-icon{
	width: 20px;
	vertical-align: middle;
	margin-right: 10px;
}
.right-icon{
	width: 16px;
	margin-top: 14px;
}
.panel-title{
	height: 44px;
	line-height: 44px;
	background: #fff;
	color: #494949;
	padding: 0 10px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
}
.member-title{
	border-top: 0;
	position: absolute;
	width: 280px;
}
.member-block{
	margin-top: 46px;
	overflow: hidden;
}
.add-member-button{
	height: 44px;
	line-height: 44px;
	width: 90%;
	color: #0571b2;
	border: 2px solid #0571b2;
	border-radius: 5px;
	text-align: center;
	margin: 15px auto;
}
.member-title,.power-up-title{
	margin-bottom: 10px;
}
.member-head-imgs{
	padding: 15px 15px 0;
}
.panel-head-img{
	width: 45px;
	height: 45px;
	border-radius: 45px;
	margin-left: 5px;
}
.power-up-block{
	overflow: hidden;
}
.activity-title{
	position: absolute;
	width: 280px;
	z-index: 1;
}
.activity-block{
	margin-top: 46px;
}
.activity-info{
	position: relative;
	padding: 20px 20px 20px 18%;
	border-bottom: 1px solid #f2f2f2;
	word-break: break-all;
	font-size: 16px;
}
.activity-img{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50px;
	left: 15px;
	top: 18px;
}
.activity-card-name{
	text-decoration: underline;
}
.activity-time{
	color: #878a8f;
	font-size: 14px;
}

/*popup*/
.popup-overlay.modal-overlay-visible{
	opacity: 0;
}
.popup-alert{
	background: #f8f8f8;
}
.popup-alert .popup-head{
	background: #fff;
	text-align: center;
	padding: 10px 10px;
	border-bottom: 1px solid #bbb4ac;
}
.buttons-row{
	margin-left: 12%;
}
.blue-cancel-icon{
	width: 20px;
	margin: 8px 0 0 2%;
}
.popup-alert .button{
	border: 1px solid #2474ab;
	height: 35px;
	line-height: 33px;
	color: #2474ab;
}
.popup-alert .button:not(:first-child){
	border-left: 0;
}
.popup-alert .button.active{
	background: #2474ab;
	color: #fff;
}
.popup-alert .tab{
	padding: 0 10px;
}
.alert-info{
	position: relative;
	padding: 10px 10px 10px 12%;
	border-bottom: 1px solid #f2f2f2;
	word-break: break-all;
	font-size: 16px;
}
.alert-img{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50px;
	left: 0px;
	top: 12px;
}
.alert-card-name{
	text-decoration: underline;
}
.alert-content-content{
	background: #fff;
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #ececec;
	border-radius: 2px;
}
.alert-time{
	color: #878a8f;
	font-size: 14px;
}

/*list*/
.smart-select-page .navbar{
	background-color: #e8e7e7;
	color: #000;
}

/*common*/
.bgc-white{
	background-color: white;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.bold{
	font-weight: bolder;
}
.vertical-middle{
	vertical-align: middle;
}
.swiper-pagination-bullet{
	background: #fff;
}
.swiper-pagination-bullet:last-child{
	background: url(./image/add.png);
}